<% provide(:title, 'New Float Plan') %>
<h1>New Float Plan</h1>

<div class="row">
    <div class="col-lg-6">
        <p>Please fill out completely. If you can not submit this form for some reason, fill out a paper form instead.</p>
        <%= form_tag do %>
            <div class="form-group">
                <%= label_tag :date, 'Date' %>
                <%= date_field_tag :date, '', value: Time.zone.now.strftime('%Y-%m-%d'), class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= label_tag :boat, 'Boat Number' %>
                <%= number_field_tag :boat, '', class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= label_tag :skipper_name, 'Skipper Name' %>
                <%= text_field_tag :skipper_name, '', class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= label_tag :skipper_phone, 'Mobile Phone Number' %>
                <%= text_field_tag :skipper_phone, '', class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= label_tag :departure_time, 'Departure Time' %>
                <%= time_field_tag :departure_time, '', class: 'form-control' %>
            </div>
            <fieldset class="form-group">
                <legend class="col-form-label">Current Direction</legend>
                <div class="form-check">
                    <%= radio_button_tag :current, 'ebb', class: 'form-check-input' %>
                    <%= label_tag :current_ebb, 'ebb' %>
                </div>
                <div class="form-check">
                    <%= radio_button_tag :current, 'flood', class: 'form-check-input' %>
                    <%= label_tag :current_flood, 'flood' %>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <legend class="col-form-label">Direction you will sail</legend>
                <div class="form-check">
                    <%= radio_button_tag :direction, 'north', class: 'form-check-input' %>
                    <%= label_tag :direction_north, 'north' %>
                </div>
                <div class="form-check">
                    <%= radio_button_tag :direction, 'south', class: 'form-check-input' %>
                    <%= label_tag :direction_south, 'south' %>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <legend class="col-form-label-lg">Crew</legend>
                <%= label_tag :crew1, 'Name 1' %>
                <%= text_field_tag :crew1, '', class: 'form-control' %>
                <%= label_tag :crew1, 'Name 2' %>
                <%= text_field_tag :crew2, '', class: 'form-control' %>
                <%= label_tag :crew3, 'Name 3' %>
                <%= text_field_tag :crew3, '', class: 'form-control' %>
                <%= label_tag :crew4, 'Name 4' %>
                <%= text_field_tag :crew4, '', class: 'form-control' %>
                <%= label_tag :crew5, 'Name 5' %>
                <%= text_field_tag :crew5, '', class: 'form-control' %>
            </fieldset>
            <fieldset class="form-group">
                <legend class="col-form-label-lg">Pre-departure Checklist</legend>
                <div class="form-group">
                    <%= label_tag :weather, 'Weather Forecast' %>
                    <%= text_field_tag :weather, '', class: 'form-control' %>
                </div>
                <div class="form-check">
                    <%= check_box_tag :fuel, '', false, class: 'form-check-input' %>
                    <%= label_tag :fuel, 'fuel' %>
                </div>
                <div class="form-check">
                    <%= check_box_tag :vhf, '', false, class: 'form-check-input' %>
                    <%= label_tag :vhf, 'vhf' %>
                </div>
                <div class="form-check">
                    <%= check_box_tag :throw_line, '', false, class: 'form-check-input' %>
                    <%= label_tag :throw_line, 'throw line' %>
                </div>
            </fieldset>
            <div class="form-group">
                <%= label_tag :missing, 'Missing or Damaged Gear' %>
                <%= text_field_tag :missing, '', class: 'form-control' %>
            </div>
            <%= submit_tag 'Submit', class: 'btn btn-primary' %>
        <% end %>
        
        
        <div class="wireframe">
            <h3>Return Checklist</h3>
            <p>This checklist will appear when the boat returns.</p>
            
            <%= form_tag do %>
            
                <div class="form-group">
                    <%= label_tag :arrival_time, 'Arrival Time' %>
                    <%= time_field_tag :arrival_time, '', class: 'form-control' %>
                </div>
                <fieldset class="form-group">
                    <legend class="col-form-label-lg">Derigging Checklist</legend>
                    <div class="form-check">
                        <%= check_box_tag :lines, '', false, class: 'form-check-input' %>
                        <%= label_tag :lines, 'lines coiled' %>
                    </div>
                    <div class="form-check">
                        <%= check_box_tag :tiller, '', false, class: 'form-check-input' %>
                        <%= label_tag :tiller, 'tiller lashed (with clove hitch)' %>
                    </div>
                    <div class="form-check">
                        <%= check_box_tag :backstay, '', false, class: 'form-check-input' %>
                        <%= label_tag :backstay, 'backstay loose' %>
                    </div>
                    <div class="form-check">
                        <%= check_box_tag :engine, '', false, class: 'form-check-input' %>
                        <%= label_tag :engine, 'engine out of water' %>
                    </div>
                    <div class="form-check">
                        <%= check_box_tag :rinse, '', false, class: 'form-check-input' %>
                        <%= label_tag :rinse, 'deck rinsed' %>
                    </div>
                </fieldset>
                <div class="form-group">
                    <%= label_tag :missing2, 'Missing or Damaged Gear' %>
                    <%= text_field_tag :missing2, '', class: 'form-control' %>
                </div>
            <% end %>
        </div>
        
    </div>
</div>

<! --



any missing or damaged gear?
notes

derig checklist?

-->