<p>Please fill out completely. If you can not submit this form for some reason, fill out a paper form instead.</p>

<% if @plan.skipper.nil? %>
<%   @plan.skipper = current_user %>
<% end %>
<%= form_for(@plan) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <% if !@plan.checkout_complete || params[:checkout_edit] %>
    <%= render 'checkout', f: f %>
  <% else %>
    <%= render 'checkout_readonly' %>
    <%= link_to "Edit checkout information", edit_plan_path(@plan, checkout_edit: true) %>
    <hr>
    <%= render 'checkin', f: f %>
  <% end %>
  
  <%= f.submit yield(:button_text), class: 'btn btn-primary' %>
  <%= link_to "Cancel", :back,  class: 'btn btn-outline-secondary' %>
<% end %>

<script>
  $(".chosen-select").chosen()
</script>