<p>Please fill out completely. If you can not submit this form for some reason, fill out a paper form instead.</p>

<% if @plan.skipper.nil? %>
<%   @plan.skipper = current_user %>
<% end %>
<%= form_for(@plan) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <%= render 'checkout', f: f %>
  
  <%= render 'checkin', f: f %>
  
  <%= f.submit yield(:button_text), class: 'btn btn-primary' %>
  <%= link_to "Cancel", :back,  class: 'btn btn-outline-secondary' %>
<% end %>

<script>
  $(".chosen-select").chosen()
</script>

