<tr>
  <td><%= link_to plan.date.nil? ? '--' : plan.date.strftime('%d-%b-%Y'), plan_path(plan) %></td>
  <td><%= plan.time_out.nil? ? '--' : plan.time_out.strftime('%l:%M %p') %></td>
  <td><%= plan.time_in.nil? ? '--' : plan.time_in.strftime('%l:%M %p') %></td>
  <td><%= plan.direction %></td>
  <td><%= plan.notes_out %></td>
</tr>