<!DOCTYPE html>
<html lang="en">
  
  <%= render 'layouts/head' %>

  <body>
    
    <%= render 'layouts/navigation' %>
    
    <div class="container content">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

      <%= yield %>
    </div>
    
    <%= render 'layouts/footer' %>
    <% if Rails.env.development? %>
      <div class="container">
        <%= debug(params) %>
      </div>
    <% end %>
    
  </body>
</html>
